.c-body {
	background-image: url(../images/epblackopstethered.jpg);
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
}

.c-main-container {
	background: #fff;
	padding: 0 1em 1em;
}