.c-nav {
	&__item {
		.c-avatar {
			vertical-align: middle;
			position: relative;
			top: -.2em;
		}
		&--text {
			&:not(:disabled):hover {
				color: inherit;
				background: inherit;
				cursor: default;
			}
		}
	}
	&__link {
		display: block;
		height: 3.5em;
		line-height: 3.5em;
		padding: 0 1em;
		margin: 0 (-1em);
		text-decoration: inherit;
		color: inherit;
	}
	ul {
		padding: 0;
		list-style: none;
	}
}