.c-skill {
	border: solid 1px #444;
	padding: 1px;
	overflow: hidden;
	height: calc(1em + 4px);
	position: relative;
	top: .1em;
	display: inline-block;
	&__level {
		border: solid 1px #444;
		padding: 1px;
		width: 1em;
		height: 1em;
		float: left;
		&+.c-skill__level {
			margin-left: 1px;
		}
		&--complete {
			background-color: #444;
		}
		&--in-progress {
			overflow: hidden;
			position: relative;
			&:after {
				position: absolute;
				bottom: -.5px;
				left: 0;
				content: '';
				display: block;
				border-top: solid #444 1em;
				border-right: solid transparent 1em;
			}
		}
		&--planned {
			background-color: #88ddff;
		}
	}
}