.c-table {
	display: table;
	&__head {
		display: table-header-group;
	}
	&__body {
		display: table-row-group;
	}
	&__row {
		display: table-row;
		&--heading .c-table__cell {
			display: table-cell;
			white-space: nowrap;
		}
	}
	&__caption {
		display: table-caption;
		color: inherit;
		font-size: 1.2rem;
		border-bottom: $table-heading-border;
	}
	&__cell {
		display: table-cell;
		&--min {
			width: 1%;
			flex: 1 0 auto;
		}
		&--right {
			text-align: right;
		}
	}
}